{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="{%static 'images/student.jpg' %}">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Personalized Learning Experience 
      </h1>
      <p class="mb-8 leading-relaxed"><strong>Learn from the best tutors around the world</strong><br>
        Our mission is to build a strong foundation of concepts by delivering quality lectures which are  simple , interactive and engaging </p>
      <div class="flex justify-center">
        </div>
    </div>
  </div>
</section>
<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Some other text
      </h1>
      <p class="mb-8 leading-relaxed">inkemaina radam iakda
      </p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">EXPLORE -></button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="{%static 'images/student1.jpg'%}">
    </div>
  </div>
</section>

<!---------------COURSES------------------->
<div id="courses">
  <div id="coursetitle" class="container px-5 py-24 mx-auto">
    <div class="text-center mb-5">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-0">COURSES</h1>
      <div class="flex mt-3 justify-center">
        <div class="w-20 h-1 rounded-full bg-blue-500 inline-flex"></div>
      </div>
    </div>
  <section class="text-gray-700 body-font">
    <div class="container px-8 py-15 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{%static 'images/school.jpg'%}" alt="blog">
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">VI - X</h1>
              <p class="leading-relaxed mb-3"> We offer online tuition classes for students from grade VI - X of ICSE,CBSE,SSC Boards</p>
              <div class="flex items-center flex-wrap ">
                <a href="#bookdemo" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
               
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{%static 'images/programming.jpg'%}" alt="blog">
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Programming</h1>
              <p class="leading-relaxed mb-3">We offer different courses on programming to help you become a proficient programmer and boost your skills</p>
              <div class="flex items-center flex-wrap">
                <a  href="programming" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{%static 'images/webdev.jpg'%}" alt="blog">
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Web Development</h1>
              <p class="leading-relaxed mb-3">Learn Web development and Web designing form Scratch to Hosting with different technology Stack</p>
              <div class="flex items-center flex-wrap ">
                <a  href="#" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

{% endblock %}